body{
	font-family: courier new;
}

img{
	width: 270px;
	height: 170px;
	transition: 1s;
}

img:hover{
	transform: scale(1.25);
}

table{
	border: 5px solid gold;
}

th{
	padding-bottom: 5%;
	padding-top: 5%;
}

h2{
	text-decoration: underline;
	padding-top: 50px;
	padding-bottom: 50px;
}

aside{
	float: right;
	width: 400px;
}